/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}


.playwrite-nz-basic-lola {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #f4f2ee;
}

/* CONTENEDOR GENERAL */
.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

/* TARJETA PRINCIPAL */
.flip-card-front {
  width: 100%;
  max-width: 1200px;
  font-family: "Playfair Display", serif;

  background-image: url("./img/fondo-floral.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 16px;

  padding: 2rem 1.5rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);


  display: flex;
  flex-direction: column;
  justify-content: center;
  /* vertical */
  align-items: center;
  /* horizontal */
  text-align: center;
  /* texto */

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* TEXTO */
.flip-card-front h1 {
  text-align: center;
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 600;
  letter-spacing: 0.05em;
}

.flip-card-front p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  text-align: center;
  max-width: 600px;
  line-height: 1.7;
  opacity: 0.9;
}

.flip-card-front h2 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  opacity: 0.8;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  min-height: 100vh;
  perspective: 1200px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.flip-card.is-flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-image: url("./img/fondo_tarjeta.png");
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
}

.hand {
  color: #0000;
  width: clamp(36px, 7vw, 52px);
  height: clamp(36px, 7vw, 52px);
  stroke: #000;

  animation: pulse 2s infinite ease-in-out;
  margin-top: 2rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

.divLareja {
  margin-top: -0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.lareja {
  width: 100%;
  max-width: 250px; /* tamaño chico */
  border-radius: 12px;
  cursor: zoom-in;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.lareja:hover{
  transform: scale(1.03);
}

/* INDICADOR SWIPE */
.hint {
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  opacity: 0.85;
}

.arrow-hint {
  font-size: 5rem;
  opacity: 0.7;

  animation: swipeHint 1.5s infinite ease-in-out;
}

/* Animación */
@keyframes swipeHint {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(12px);
  }

  100% {
    transform: translateX(0);
  }
}

/* TABLET */
@media (min-width: 600px) {
  .flip-card-front {
    padding: 3rem;
  }
}

/* NOTEBOOK */
@media (min-width: 1024px) {
  .flip-card-front {
    padding: 4rem 5rem;
  }

  .flip-card-front p {
    max-width: 70%;
    margin: 0 auto;
  }
}

/* PANTALLA GRANDE */
@media (min-width: 1440px) {
  .flip-card-front {
    max-width: 1400px;
  }
}

/* CELULAR: pantalla completa */
@media (max-width: 599px) {
  .page {
    padding: 0;
  }

  .flip-card-front {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;

    border-radius: 0;
    padding: 2rem 1.5rem;

    box-shadow: none;
  }
}

.margin-bottom{
  margin-bottom: 0;
}