/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #f4f2ee;
}

/* CONTENEDOR GENERAL */
.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

/* TARJETA PRINCIPAL */
.card {
  width: 100%;
  max-width: 1200px;
  font-family: "Playfair Display", serif;

  background-image: url("./img/fondo-floral.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 16px;

  padding: 2rem 1.5rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);


  display: flex;
  flex-direction: column;
  justify-content: center;
  /* vertical */
  align-items: center;
  /* horizontal */
  text-align: center;
  /* texto */

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* TEXTO */
.card h1 {
  text-align: center;
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 600;
  letter-spacing: 0.05em;
}

.card p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  text-align: center;
  max-width: 600px;
  line-height: 1.7;
  opacity: 0.9;
}

.card h2 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  opacity: 0.8;
}

/* TABLET */
@media (min-width: 600px) {
  .card {
    padding: 3rem;
  }
}

/* NOTEBOOK */
@media (min-width: 1024px) {
  .card {
    padding: 4rem 5rem;
  }

  .card p {
    max-width: 70%;
    margin: 0 auto;
  }
}

/* PANTALLA GRANDE */
@media (min-width: 1440px) {
  .card {
    max-width: 1400px;
  }
}

/* CELULAR: pantalla completa */
@media (max-width: 599px) {
  .page {
    padding: 0;
  }

  .card {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;

    border-radius: 0;
    padding: 2rem 1.5rem;

    box-shadow: none;
  }
}